doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="scss/index.css")
    body 
    section 
        img.logo(src="images/airSlate-logo.svg", alt="logo")
        form.form(action="#", method="post")
            span.form-title Log in to airSlate
            label.form-input__label(for="email") Email address
            input.form-input#email(type="email", name="email", placeholder="name@email.com")
            label.form-input__label(for="password") Password
            input.form-input#password(type="password", name="password", placeholder="Enter password" )  
            span.form-terms By clicking Log in, you agree to the Terms of Services and Privacy Policy, including receipt of emails from of us about our service.
            button.form-btn__submit(type="submit") Log in
            span.form-delimiter or continue with your social accounts
            .form-group     
                .form-group__social 
                    button.social-login__facebook(type="button") facebook
                    button.social-login__google(type="button") google
                    button.social-login__apple(type="button") apple